body {
  font-family: "Quicksand", sans-serif;
}

h1,
h2,
.label,
.button {
  font-family: "Quicksand", sans-serif;
}

#teamsOutput .team {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#teamsOutput .team h2 {
  margin-bottom: 10px;
}
